
body {
	background-color: #E7E1AD;
}

.page-topper {
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	right: 0;
	left: 0;
	top: 0;
	width: 100%;

}

header {
	background-image: url("../img/watercolor.png");
}
#home{
	text-decoration: none;
	color: black;
}

h1 a {
	color: inherit;
}

h1 a:hover {
	color: inherit;
	text-decoration: underline;
}

h1 small a:hover{
	text-decoration: none;
} 
nav{
	background-color: #73afb6;
	padding: 6px;
	border-bottom: 3px white solid; 
}

nav a {
	display: inline-block;
	text-align: center;
	font-size: 100%;
	color: white;
}

.current-page {
	background-color: #d0cabf;
	color: #342800 ;
	font-weight: bold;
	border-radius: 25px;
}
nav a:hover{
	color: white;
}


#artwork_overview a {
	text-align: center;
}

#projects_overview img{
	height: 100% ;
	width: 100% ;
}

.gal-container{
	padding-top: 5px;
}

.gal-item .box {
	border: solid 1px #342800;
}
#horse{
	height: 175%;
	}

.gal-container .description{
	background-color: rgba(115,175,182, 0.8)
}

.gal-container .description h4{
	color: #000;
}

.section-header {
	padding: 6px;
	border-bottom: 3px solid #342800; 
	color: #342800;
}

.section-header a {
	color: #4b4d52;
}

#about-image {
	display: none;
}

p.contact-info{
	display: inline-block;
}

.glyphicon{
	margin-right: 5px;
}

body.about p {
	margin-top: 20px;
}
footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #73afb6;
	color: #342800;
	padding: 5px;
	margin-top: 25px;
}

footer a {
	color: #342800;
}

@media screen and (min-width: 992px){
	h3 {
		font-family: 'Lobster', cursive ;
		font-size: 2em;
	}
	nav a {
		font-size: 1.2em;
	}
	.list-group-item {
		display: inline-block;
	}
	.about-paragraphs{
	}
	#about-image {
		display: inline-block;
		height: 50%;
		width: 50%;
	}
}

@media screen and (min-width: 1200px){
	body.artwork{
		background-image: url("../img/watercolor.png");

	}
	.list-group-item {
		display: block;
	}
	#about-image {
		border-radius: 75%;
		height: 35%;
		width: 35%;
		display: block;
		margin: 0 auto;
		margin-top: auto;
	}
	.contact-info {
		text-align: justify;
		
	}
}